<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <CosmoCommerce_Livechat>
                <version>0.1.0</version>
            </CosmoCommerce_Livechat>
        </modules>
        <blocks>
            <livechat><class>CosmoCommerce_Livechat_Block</class></livechat>
    	</blocks> 
    </global>
    <frontend>
        <translate>
            <modules>
                <CosmoCommerce_Livechat>
                    <files>
                        <default>CosmoCommerce_Livechat.csv</default>
                    </files>
                </CosmoCommerce_Livechat>
            </modules>
        </translate>
        <layout>
            <updates>
                <livechat>
                    <file>livechat.xml</file>
                </livechat>
            </updates>
        </layout>
        <translate>
            <modules>
                <CosmoCommerce_Livechat>
                    <files>
                        <default>CosmoCommerce_Livechat.csv</default>
                    </files>
                </CosmoCommerce_Livechat>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<CosmoCommerce_Livechat>
							<title>Livechat</title>
							<sort_order>10</sort_order>
						</CosmoCommerce_Livechat>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <CosmoCommerce_Livechat>
                    <files>
                        <default>CosmoCommerce_Livechat.csv</default>
                    </files>
                </CosmoCommerce_Livechat>
            </modules>
        </translate>
    </adminhtml> 
</config>
